{{>header}}

<main class="home-page">
	<img src="http://oscf.org/wp-content/uploads/2011/08/Slide2.jpg" />

		<h1>Hello Everybody! I have created a website!</h1>
		<p>In this website, I will show you how powerful I will become. In this website, you will gain points by playing my games.
	       Try to become the most powerful in the website!	</p>
</main>
