body{
    margin: 0;
    background-color: #efeded;
}

.site-title{
    margin: 0;
    background-color: #32ad37;
}

.navbar{
    background-color: #95e098;
}

.navlist{
    margin: 0;
    padding: 0;
}

.navitem{
    display: inline-block;
    border-style: solid;
    border-width: 0px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
}

#nav-right{
    float: right;
}

.navlink{
    text-decoration: none;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

#profilePic{
    width: 200px;
    height: auto;
    border: 5px solid black;
    margin: 10px;
}
