body{
    margin: 0;
    background-color: #e8e8e8;
}

#include_header{
    position: fixed;
    top: 0px;
    width: 100%;
    min-width: 800px;
}


.spacer{
    height: 75px;
}

.site-title{
    width: 100%;
    margin: 0;
    background-color: #269bfa;
    color: white;
    padding: 5px;
    font-style: italic;
}

.navbar{
    background-color: #c2e4ff;
}

.navlist{
    margin: 0;
    padding: 0;
}

.navitem{
    display: inline-block;
    border-style: solid;
    border-width: 0px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
}

#nav-right{
    float: right;
}

.navlink{
    text-decoration: none;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

#profilePic{
    width: 200px;
    height: auto;
    border: 5px solid black;
    margin: 10px;
}

.experience-summary{
    width: 100%;
    height: 100%;
}

.table{
    position: fixed;
    display: inline-block;
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 3px solid black;
    background-color: white;
    height: 100%;
}

.table-title{
    margin-bottom: 0px;
}

.an-exp{
    font-size: 13pt;
    padding-bottom: 8px;
}

.exp-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: center;
    margin-left: 350px;
}

.exp-contents{
    margin-top: 0px;
}

.experience{
    border: 5px solid black;
    margin: 10px auto;
    min-width: 1000px;
    background-color: white;
}

.job-overview{
    width: 450px;
    display: inline-block;
}

.org-pic{
    height: auto;
    width: 400px;
    display: inline-block;
    margin: 20px;
    margin-bottom: 10px;
    float: left;
}

.organization{
    font-size: 20pt;
    width: 400px;
    margin: 0px;
    text-align: center;
    margin-left: 20px;
}

.job-title{
    font-weight: bold;
    display: block;
    margin: 0px;
    width: 400px;
    margin-left: 20px;
    text-align: center;
}

.date-worked{
    display: inline-block;
    margin: 0px;
    width: 400px;
    margin-left: 20px;
    text-align: center;
}

.skills-title{
    margin-bottom: 0px;
}

.skills-list{
    margin: 0px;
}

.responsibility-title{
    margin-bottom: 0px;
}

.responsibilities-list{
    margin: 0px;
}

.brief-points{
    display: inline-block;
    vertical-align: top;
    width: 525px;
}

.description-div{
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 30px;
}

.description-title{
    margin-bottom: 0px;
}

.description{
    margin-top: 0px;
    max-width: 50em;
}

.links-title{
    margin-bottom: 0px;
}

.relevant-links{
    margin-top: 0px;
}

.exp-link{
    font-weight: bold;
    font-size: 16pt;
    margin-bottom: 7px;
}
