body{
	margin: 0;
	background-color: #efeded;
}

.site-title{
	margin: 0;
	background-color: #32ad37;
}

.navbar{
	background-color: #95e098;
}

.navlist{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.navitem{
	display: inline-block;
	font-weight: bold;
	text-decoration: none;
	padding: 10px;
	padding-left: 0;
	padding-right: 0;
}

#nav-right{
	float: right;
}

.navlink{
	text-decoration: none;
	color: black;
	padding: 10px;
	padding-left: 25px;
	padding-right: 25px;
}

.navlink:hover{
	background-color: #32ad37;
}
